<ul>
    <li>
        Github Issues: <a href="https://github.com/yueyinqiu/SharpTools/issues" target="_blank">https://github.com/yueyinqiu/SharpTools/issues</a>
    </li>
    <li>
        邮箱: <a href="mailto:yueyinqiu@outlook.com">yueyinqiu@outlook.com</a>
    </li>
    <li>
        QQ 群: <a href="https://qm.qq.com/cgi-bin/qm/qr?k=H43WLZqiGmKGTflimgC5QWRXw8PSGO6m&jump_from=webapi&authKey=ddELb/oMBGYTEVtlWigCAeIm3VoNyziTnxWGKppSXN+ddDpY5VHjDUgBRA7gCal5">574298353 Nololiyt</a>
    </li>
    <li>
        QQ 群: <a href="https://qm.qq.com/cgi-bin/qm/qr?k=-fFbDKgZPXnOOpIQcSNHRvyw1Xo_T6oh&jump_from=webapi&authKey=d6a8y9SFv2f0qoraOyBpf+bQTML7xe0yE/1mda1BERBaQLYs+4g/AXV0uRrU+xpx">891390697 YiJingFramework</a>
    </li>
    <li>
        QQ 群: <a href="https://qm.qq.com/cgi-bin/qm/qr?k=L-U28AqNP3UB95C9Wqf2jcwvmMPNzdFk&jump_from=webapi&authKey=uHFEmxgIwxHtnny8d5lUESsa56PiYQOQ8BZSrpAQhvfG36K3/6yTloKozz+r/csr">698263999 易学交流梅花易数占卜算卦</a>
    </li>
</ul>