@page "/"

<PageTitle>SharpTools</PageTitle>

<h1>欢迎使用 SharpTools</h1>

<p>
    SharpTools 是一个基于 Blazor WebAssembly 开发的小工具网站。这意味着所有的工具都在本地运行，您不必担心任何隐私问题，但是同样也限制了相对复杂功能的加入。此外，本网站提供 PWA 支持，您可以将网站作为应用程序安装到电脑、手机或其他任何受支持的设备中，然后可以在无网络环境下访问。网站代码完全开源在 Github 中。
</p>

<h2>注意事项</h2>

<p>
    <ul>
        <li>
            我们没有能力为网站功能进行全面的测试。如果工具产生了错误的结果，我们不会为其承担任何责任。如果您担心因此产生损失，那么应该寻找更可靠的工具，或者通过其他手段确认结果的正确性。
        </li>
    </ul>
</p>

<h2>联系方式</h2>

<p>
    如果您有任何意见或建议，欢迎通过以下任意方式联系我们：

    <ContactInformationComponent></ContactInformationComponent>
</p>