@page "/NotFound"

@inject IHistoryBlazor HistoryBlazor
@inject NavigationManager Navigation

<PageTitle>找不到页面 - SharpTools</PageTitle>

<h1>找不到页面</h1>

<p>
    您正试图访问 @OriginalUri 处的页面，但是我们并没有找到它。
</p>

<h2>可能的原因</h2>

<p>
    这可能是由以下原因导致的：
    <ul>
        <li>
            由于 SharpTools 本身更新导致旧的链接失效
        </li>
        <li>
            您在复制链接时不小心遗漏或者增添了字符
        </li>
        <li>
            您从他人那里得到了不正确的链接
        </li>
        <li>
            ……
        </li>
    </ul>
</p>

<h2>解决的办法</h2>

<p>
    请放心，访问一个找不到的页面不会对您造成任何损害。现在您可以重新检查您的链接，或者在左侧侧边栏中直接选择想使用的工具。
</p>