@page "/BytesRepresentations"
@inject IGradedLocalStorage LocalStorage
@inject IFileDownloader Downloader

<PageTitle>字节数组表示 - SharpTools</PageTitle>

<FluentStack Orientation="Orientation.Vertical">
    <h1>字节数组表示</h1>

    <FluentCard AreaRestricted="false">
        <FluentStack Orientation="Orientation.Vertical">
            <h2>配置与输入</h2>

            <FluentSelect TOption="BytesFormat" Width="100%" Label="源格式" OptionText="(x => x.Name)" Items="formats" @bind-SelectedOption="InputFormat">
            </FluentSelect>

            <FluentTextArea @bind-Value="Input" Style="width: 100%" Label="源内容" Rows="5"></FluentTextArea>

            <FluentInputFile AnchorId="ImportButton" DragDropZoneVisible="false" MaximumFileSize="@(1024 * 1024 * 1024)" OnCompleted="Import" />

            <div>
                <FluentButton Id="ImportButton">导入文件</FluentButton>
            </div>

            <FluentSelect TOption="BytesFormat" Width="100%" Label="目标格式" OptionText="(x => x.Name)" Items="formats" @bind-SelectedOption="OutputFormat">
            </FluentSelect>
        </FluentStack>
    </FluentCard>

    <FluentCard AreaRestricted="false">
        <FluentStack Orientation="Orientation.Vertical">
            <h2>结果与输出</h2>

            <FluentTextArea Style="width: 100%" Value="@Output" ReadOnly="true" Label="目标内容" Rows="5"></FluentTextArea>

            <div>
                <FluentButton OnClick="Export" Disabled="@(inputBytes.bytes is null)">导出文件</FluentButton>
                <FluentButton OnClick="Swap" Disabled="@(inputBytes.bytes is null)">设为输入</FluentButton>
            </div>
        </FluentStack>
    </FluentCard>
</FluentStack>